<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jiem Project Automation Suite">
  <test name="Bug_20">
    <classes>
      <class name="sanity.Test2"/>
      <class name="sanity.Test1"/>
      <class name="smoke.Test2"/>
      <class name="smoke.Test1"/>
    </classes>
  </test> <!-- Test -->
  <test name="Normal Regression">
    <classes>
      <class name="sanity.Test2"/>
      <class name="sanity.Test1"/>
      <class name="smoke.Test2"/>
      <class name="smoke.Test1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
